@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #001e4d;
}

.app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.app > h1 {
  font-size: 1.5rem;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.app > .quiz {
  padding: 20px 0;
}

.app > .quiz > h2 {
  font-size: 1.1rem;
  color: #001e4d;
  font-weight: 600;
}

.app > .quiz > .answer-buttons > .btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.app > .quiz > .answer-buttons > .btn:hover:not([disabled]) {
  background: #222;
  color: white;
}

.app > .quiz > .answer-buttons > .btn:disabled{
  cursor: no-drop;

}

.app > .quiz > #next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: none;
}

.app > .quiz > #next-btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid black;
}

.app > .quiz > .answer-buttons > .correct{
  background: #9aeabc
}

.app > .quiz > .answer-buttons > .incorrect{
  background: #ff9393
}
